<div class="container-fluid">
      
      <div class="row row-offcanvas row-offcanvas-left">
        
         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav nav-sidebar">
              <li><a href="dashboard/courses">Courses</a></li>
            </ul>
            <ul class="nav nav-sidebar">
<br><br><br>
              <li><a href="#">Grades Evaluation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="#">Administration Fee</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="#">Setting Profiles</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="#">Help</a></li>
            </ul> 
        </div><!--/span-->
        
        <div class="col-sm-9 col-md-10 main">
          
          <!--toggle sidebar button-->
          <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>


          
      </div><!--/row-->
	</div>
</div><!--/.container-->