<html>
<head>
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-dashboard-custom" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard">Sekolah Repoeblijk portal  E-Class</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Courses</a></li>
            <li><a href="#">Grades Evaluation</a></li>
            <li> <a href="#">Administration Fee</a></li>
            <li><a href="#">Setting Profiles</a></li>
                     <li><a href="#">ONLINE TEST</a></li>
            <li><a href="#">Help</a></li>
                     <li><a href="#">Log Out</a></li>
          </ul>

        </div>
      </div>
</nav>

<div class="container-fluid">
      
      <div class="row row-offcanvas row-offcanvas-left">
        
         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
<br><br><br><br><br><br>           <ul class="nav nav-sidebar">
                      <li><a href="#">LA-1: Introduction to Management (basic) </a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="#">LA-2: Introduction to Information Technology </a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="#">LA-3: Basic Entrepreneurship & Entrepreneur Behavior</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="#">LB-1: Managing the Family Firm</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="#">LB-2: Small Business Consulting</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LB-3: Wholesale and Retail Sales</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LC-1: Life and Works of Rizal</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LC-2: Operational Research</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LC-3: Statistics & Research Methodology</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LD-1: Business Opportunities 1 & 2</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LD-2: Total Quality Management</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LD-3: Microfinance and Cooperative Accounting</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LE-1: Business and Production Innovation</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LE-2: Entrepreneurship Integration</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LE-3: Agricultural Entrepreneurship</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LF-1: Business and Production Innovation</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LF-2: Venture Capital</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LF-3: Business Plan 1 & 2</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LG-1: Business Implementation 1</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LG-2: Project Feasibility & Bus. Research</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LG-3: Law on Business Organizations</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LH-1: Transfer and Business Taxes</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LH-2: New Market Development</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href="#">LH-3: Fields Trips and Seminars/Project Presentation</a></li>
            </ul> 

        </div><!--/span-->
        
        <div class="col-sm-9 col-md-10 main">
          
          <!--toggle sidebar button-->
          <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
          
<hr>
<hr>
          <h2 class="sub-header">Daftar Perkuliahan  </h2>
     </div>
</div>

</body>
</html>
